nav .navbar-brand
{
    font-size: xx-large;
}

main .form-control
{
    display: inline-block;
    width: auto;
}

main
{
    overflow-x: auto;
    text-align: center;
}

main img
{
    max-width: 100%;
}

#tasks {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 150%;
}

input[type="checkbox"] {
    zoom: 1.5;
}
